.nav{

  &__burger-menu{
    display: block;
    left: 101px;
    position: absolute;
    top: 50%;


    @include on-small-desktop{
      // display: none;

    }

    &-list{
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding: 0;
      position: absolute;
      left: 125px;
      top: 0;
      margin: 0;
      background-color: $bg-header;
      border: 1px solid silver;
      border-radius: 10px;
      z-index: 2;


      transition: all 0.9s;
      visibility: hidden;
      opacity: .1;

      &:target{
        transform: translateX(20px);
        opacity: 1;
        visibility: visible;
      }


    }

    &-item{
      list-style: none;

    }

    &-link{
      text-decoration: none;
      color: #fff;
      line-height: 25px;
      display: inline-block;
      padding: 0 10px;
      width: 100%;
    }


  }


  &__wrapper {
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    width: 46px;
    height: 28px;
  }

  &__list {
    display: none;
    justify-content: space-between;
    list-style: none;

    @include on-small-desktop{
      display: flex;
    }
  }

  &__item{
    &:not(:first-child){
      padding-left: 48px;
    }

    &--hire-us{
      position: relative;
    }

    &--hire-us::after{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -8px;
      border-bottom: 2px solid #2060F6;
      border-radius: 4px;
    }
  }

  &__link {
    @extend %nav-decoration;
  }

}



